.board {
    border-collapse: collapse;
    /* width: 99vmin; */
    /* height: 99vmin; */
}

.cell {
    border: solid;
    background-color: green;
    text-align: center;
}

.cell-button {
    width: 11vmin;
    height: 11vmin;
    background-color: unset;
    border: unset;
}

.cell-button > img {
    opacity: 0;
    pointer-events: none;
}

.black > img {
    opacity: 1;
    filter: invert(1);
}

.white > img {
    opacity: 1;
    filter: invert(0);
}

.hilight {
    background-color: aqua;
}